<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'menu'}}active{{/ifCond}}" href="/setting/menu">Menu</a>
  </li>
    <li class="nav-item">
    <a class="nav-link {{#ifCond route 'table'}}active{{/ifCond}}" href="/setting/table">Table</a>
  </li>
</ul>