<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POS system</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">銀角酒場</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/tables">點餐首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setting/menu">後台設定</a>
            </li>
            <li class="nav-item">
              <!-- Button trigger modal -->
              <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#report">日結報表
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">
    <div class="pt-5">
      <div class="container">
        {{{body}}}
        <!-- Modal -->
        <div class="modal fade" id="report" tabindex="-1" aria-labelledby="report" aria-hidden="true">
          <div class="modal-dialog">
            <form action="/report" method="POST">
              <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="report">日結報表</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5>選擇時段：</h5>
                  <label for="startTime">從
                    <input type="datetime-local" class="form-control" name="startTime" id="startTime" placeholder="From when" required>
                  </label>
                
                  <label for="endTime">至
                    <input type="datetime-local" class="form-control" name="endTime" id="endTime" placeholder="To when">
                  </label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">送出</button>
              </div>
              </div>
            </form>>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>