<form action="/setting" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">新增餐點</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="price">Price</label>
    <input class="form-control" type="number" name="price" id="price" placeholder="Enter price" min="0" required>
  </div>
  <button type="submit" class="btn btn-primary">新增</button>
</form>