<div class="row">
  {{!-- left side --}}
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="text-end">
          <span>x</span>
        </div>

        <h6 class="card-title">章魚燒</h6>
        <div class="card-text">130元</div>
      </div>
      
      <div class="card-footer text-end">
        <div class="card-text text-muted">
          $ <span>130</span> 元
        </div>
      </div>
    </div>

    <div class="text-end">
      <button class="btn btn-light" style="min-width: 120px;">Checkout</button>
    </div>
  </div>

  {{!-- right side --}}
  <div class="col-md-8" style="outline: 1px solid steelblue;
  min-height: 600px;">
    <section class="menu">
      <div class="row">
        {{#each menus}}
        <div class="col-3 mb-3">
          <div class="card text-center">
            <button type="button"  class="card-body btn">
              <h5 class="card-title">{{this.name}}</h5>
              <p>{{this.price}}元</p>
            </button>
          </div>
        </div>
        {{/each}}
      </div>
    </section>
  </div>
</div>