<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">訂單統計</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>訂單數</td>
      <td>金額</td>
    </tr>
    <tr>
      <td>日營收</td>
      <td>{{orderlists.length}}</td>
      <td>{{dailyAmount}}</td>
    </tr>
    <tbody>
      <tr>
        <td>客流量</td>
        <td></td>
        <td>{{dailyCustomers}}</td>
      </tr>
      <tr>
        <td>客單價</td>
        <td></td>
        <td>{{averageOrderValue}}</td>
      </tr>
    </tbody>
  </tbody>
</table>